@font-face {
    font-family: 'mrrobotregular';
    src: url('fonts/mr_robot-webfont.woff2') format('woff2'),
         url('fonts/mr_robot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'mrrobotregular';
    color:red;
    font-weight:normal;
    font-style:normal;
    background-color: black;
    }

#cabecalho{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
}

#form{
    width: 53%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

#rodape{
    width: 50%;
    margin: auto;
    padding: 15px 20px;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.entry{
    color: red;
    background-color: black;
    padding: 15px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    width:100%;
    border: 2px solid red;
    border-radius: 4px;
    font-size: 14px;
}
.button {
    font-family: inherit;
    background-color: red;
    border: none;
    color: black;
    padding: 15px 32px;
    margin-bottom:5px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 27px;
  }

.button:hover {
    color: white;
  }

  /* unvisited link */
  a:link {
    color: red;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: red;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }

  .break {
    margin: auto;
    margin-top:10px;
    width:1000px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }