@font-face {
    font-family: 'mrrobotregular';
    src: url('fonts/mr_robot-webfont.woff2') format('woff2'),
    url('fonts/mr_robot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'mrrobotregular';
    color:red;
    font-weight:normal;
    font-style:normal;
    background-color: black;
    }

#cabecalho{
        width: 50%;
        margin: auto;
        margin-top: 20px;
        font-size:36px;
        text-align: center;
        vertical-align: middle;
    }
#container{
    margin:auto;
    text-align:center;
}
#profilepic {
        display: block;
        margin:auto;
        border-radius: 100%;
        width:400px;
        height:400px;
        margin-top:20px;
        position:relative;
      }
#form{
        width: 50%;
        margin: auto;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
    }
#perfil{
    width:50%;
    margin: auto;
    margin-top:20px;
    text-align: center;
    vertical-align: middle;
}

#rodape{
    width: 50%;
    margin: auto;
    padding: 15px 20px;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.break {
    margin: auto;
    margin-top:10px;
    width:1000px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }

.button {
    font-family: inherit;
    background-color: red;
    border: none;
    color: black;
    padding: 15px 32px;
    margin-bottom:5px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0px;
  }
  .button:hover {
    color: white;
  }

  .radialbutton {
 
    font-family: inherit;
    border: none;
    border-radius:100%;
    width: 50px;
    height:50px;
    color: black;
    padding: 15px 32px;
    margin-bottom:5px;
    text-align: center;
    vertical-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 800px;
    position:absolute;
    bottom:400px;
    right:780px;
  }

    /* unvisited link */
  a:link {
    color: red;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: red;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }
