@font-face {
    font-family: 'mrrobotregular';
    src: url('fonts/mr_robot-webfont.woff2') format('woff2'),
    url('fonts/mr_robot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'mrrobotregular';
    color:red;
    font-weight:normal;
    font-style:normal;
    background-color: black;
    }

#cabecalho{
        width: 50%;
        margin: auto;
        margin-top: 20px;
        font-size:36px;
        text-align: center;
        vertical-align: middle;
    }

.break {
        margin: auto;
        margin-top:10px;
        width:1000px;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
      }

.subtitulo{
    margin: auto;
    margin-top:20px;
    font-size:20px;
    text-align: center;
    vertical-align: middle;
}

.icons{
    float:left;
    position:relative;
}
.pref{
    position:relative;
    margin:auto;
    margin-top:20px;
    width:1000px;
    vertical-align: center;
    text-align:center;
    padding-bottom:400px;
}
.text{
    float:right;
    width: 400px;
    font-size:16px;
    text-align: justify;
    text-justify: inter-word;
}